
body{
    margin: 100px;
    padding: 120px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    /* box-shadow: 10px,20,30% purple; */
    
}

.Container{
width: 100%;
height: auto;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.Container{
    box-shadow: 10px,10px,10px color(srgb red green blue);
}
.flex-box{
width: 200px;
height: 200px;
background-color: rgba(57, 122, 57, 0.884);
color: rgb(255, 255, 255);
border-radius: 35px;
font-size: 90px;
text-align: center;
line-height: 200px;
margin: 20px;
}

.flex-box::before {
    content: '';
    position: absolute;
    background: rgba(94, 110, 63, 0.671);
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    z-index:-1;
    filter: blur(60px);
}

